---
import { Image } from 'astro:assets';

interface Props {
    src: string;
    alt: string;
    width: number;
    height: number;
    innerframe?: boolean;
    outerFrameWidth?: number;
    innerFrameWidth?: number;
    outerFrameColor?: string;
    innerFrameColor?: string;
    passepartout?: boolean;
}

const {
    src,
    alt,
    width,
    height,
    innerframe = false,
    outerFrameWidth = 3,
    innerFrameWidth = 0,
    outerFrameColor = 'black',
    innerFrameColor = '#f8f8f8',
    passepartout = true,
} = Astro.props;

const aspectRatio = (height / width) * 100;
---

<div class='relative w-full frame-shadow inset-0 h-full object-cover' style={`padding-bottom: ${aspectRatio}%;`}>
    <div class='absolute inset-0'>
        <div class='w-full h-full' style={`border: ${outerFrameWidth}px solid ${outerFrameColor};`}>
            {
                innerframe && (
                    <div
                        class='absolute inset-0'
                        style={`border: ${innerFrameWidth}px solid ${innerFrameColor}; top: ${outerFrameWidth}px; left: ${outerFrameWidth}px; right: ${outerFrameWidth}px; bottom: ${outerFrameWidth}px;`}
                    />
                )
            }
        </div>
        <Image
            src={src}
            alt={alt}
            width={width}
            height={height}
            class='absolute inset-0 w-full h-full object-cover'
            style={`padding: ${outerFrameWidth + (innerframe ? innerFrameWidth : 0)}px;`}
        />
    </div>
</div>
