---
import { Image } from 'astro:assets';

interface Props {
    src: string;
    alt: string;
    width: number;
    height: number;
    innerframe?: boolean;
    outerFrameWidth?: number;
    innerFrameWidth?: number;
    outerFrameColor?: string;
    innerFrameColor?: string;
}

const {
    src,
    alt,
    width,
    height,
    innerframe = false,
    outerFrameWidth = 3,
    innerFrameWidth = 5,
    outerFrameColor = 'black',
    innerFrameColor = '#E0E0E0',
} = Astro.props;

const aspectRatio = (height / width) * 100;
---

<div
    class='relative w-full frame-shadow hover:scale-[1.015] transition-all duration-200'
    style={`padding-bottom: ${aspectRatio}%;`}>
    <div class='absolute inset-0'>
        <div class='w-full h-full' style={`border: ${outerFrameWidth}px solid ${outerFrameColor};`}>
            {
                innerframe && (
                    <div
                        class='absolute inset-0'
                        style={`border: ${innerFrameWidth}px solid ${innerFrameColor}; top: ${outerFrameWidth}px; left: ${outerFrameWidth}px; right: ${outerFrameWidth}px; bottom: ${outerFrameWidth}px;`}
                    />
                )
            }
        </div>
        <Image
            src={src}
            alt={alt}
            width={width}
            height={height}
            class='absolute inset-0 w-full h-full object-cover'
            style={`padding: ${outerFrameWidth + (innerframe ? innerFrameWidth : 0)}px;`}
        />
    </div>
</div>

<style>
    .frame-shadow {
        box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
    }
    .frame-shadow:hover {
        box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.2);
    }
</style>
