---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';

const { title } = Astro.props;
const description =
    'Furekunst viser kunstner Elisabeth Fure Schwarz sine malerier. Her kan du se gjennom galleriet, og ta kontakt ved interesse for kjøp.';
---

<html lang='nb'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <link rel='icon' href='/favicon.svg' />
        <title>{title} | Furekunst</title>

        <link rel='sitemap' href='/sitemap-index.xml' />

        <meta name='description' content={description} />
        <meta name='keywords' content='Kunst, Elisabeth, Fure, Schwarz, maleri, akvarell, akryl, galleri' />
        <meta name='author' content='Sindre Sauarlia' />

        <meta property='og:type' content='website' />
        <meta property='og:url' content={new URL(Astro.url.pathname, Astro.site).toString()} />
        <meta property='og:title' content={`${title} | Furekunst`} />
        <meta property='og:description' content={description} />
        <meta property='og:image' content={new URL('/lazydogs.jpg', Astro.site).toString()} />

        <meta name='twitter:card' content='summary_large_image' />
        <meta name='twitter:title' content={`${title} | Furekunst`} />
        <meta name='twitter:description' content={description} />
        <meta name='twitter:image' content={new URL('/lazydogs.jpg', Astro.site).toString()} />

        <link rel='canonical' href={new URL(Astro.url.pathname, Astro.site).toString()} />

        <meta http-equiv='content-language' content='nb-NO' />

        <ViewTransitions />

        <script type='application/ld+json'>
            {
                "@context": "https://schema.org",
                "@type": "WebSite",
                "name": "Furekunst",
                "url": "https://furekunst.no/",
                "description": "${description}",
                "inLanguage": "nb-NO"
            }
        </script>
    </head>
    <body class='flex flex-col min-h-screen bg-pastel font-body text-primary'>
        <Header />
        <main id='innhold' class='flex-grow container mx-auto mt-8 px-3 md:px-1.5 lg:px-0' transition:animate='fade'>
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style is:global>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    h1 {
        @apply text-2xl md:text-3xl font-didot text-gray-900;
    }

    h2 {
        @apply text-xl md:text-2xl font-didot text-gray-800;
    }
</style>
